<div class="activity-card list-card">
  {{ fields.node_bulk_form.content }}
  <div class="left-section">
    <div class="initiative">{{ fields.title_1.content }}</div>
    <div class="date">{{ fields.field_dates.content }}</div>
   

  </div>
  <div class="content">
    <div class="breadcrumb">{{ fields.field_type.content }}</div>
    <div class="title">{{ fields.title.content }}</div>
    <div class="description">{{ fields.body.content }}</div>
    <div class="organization">{{ fields.field_organization.content }}</div>
  </div>
  <div class="right">
    <div class="status">{{ fields.field_status.content }}</div>
    <div class="person">
      <div class="avatar">HM</div>
      <div>{{ fields.field_asignee.content }}</div>
    </div>
    <div class="info">{{ fields.field_report.content }}</div>
    <div class="edit">    {{ fields.operations_1.content }}
    </div>
  </div>
</div>
