<div class="activity-card calendar-card">
  <div class="left-section">
      <div class="status">{{ fields.field_status.content }}</div>


   

  </div>
  <div class="content">
    <div class="title">{{ fields.title.content }}</div>
        <div class="initiative">{{ fields.title_1.content }}</div>
    <div class="breadcrumb">{{ fields.field_type.content }}</div>

  </div>
  <div class="right">    
      <div class="person">
        <div class="avatar">HM</div>
        <div>{{ fields.field_asignee.content }}</div>
      </div>
  </div>
</div>
