{#
/**
 * Default theme implementation for send email Views Kanban.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - columns: Whether months should be nested inside years.
 *
 * @see template_preprocess_views_mail_kanban()
 *
 * @ingroup themeable
 */
#}
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="background-color:#ffffff;border-collapse:separate!important;border-color:#e4e2e2;border-radius:4px;border-spacing:0;border-style:solid;border-width:1px;color:#242128;font-family:Arial,sans-serif">
  <tbody>
  <tr>
    <td align="center" valign="top" style="padding:0">
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td height="40" style="font-size:40px;line-height:40px;padding:0">&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <table width="65" height="65" cellpadding="0" cellspacing="0" border="0" bgcolor="#ff4081"  style="background-color:#ff4081;border-radius:50%;border-spacing:0;color:#ffffff!important;font-family:Arial,sans-serif;width:65px;height:65px">
        <tbody>
        <tr>
          <td align="center" valign="middle" height="65" style="color:#ffffff!important;padding:0">
            {% if( author_avatar) %}
              <img src="{{ author_avatar }}" height="65" style="border-radius: 50%"/>
              {% else %}
            <span style="margin:0;color:#ffffff!important;display:inline-block;font-family:'Gotham',Helvetica,Arial,sans-serif;font-size:24px;font-weight:500;line-height:65px;margin:0!important;padding:0;text-decoration:none">
              {{ author_initial }}
            </span>
            {% endif %}
          </td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td height="16" style="font-size:16px;line-height:16px;padding:0">&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td align="center" valign="top" style="padding:0px 10px">
            <p style="margin:0;color:#242128;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:25px;font-weight:normal;line-height:1.3;margin:0!important;padding:0">
              {{ type }}
            </p>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td height="6" style="font-size:6px;line-height:6px;padding:0">&nbsp;</td>
              </tr>
              </tbody>
            </table>
            <p style="margin:0;color:#9c9b9d;font-family:Arial,sans-serif;font-size:12px;font-weight:normal;line-height:1.3;margin:0!important;padding:0">
              {{ author_name }}
            </p>
          </td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td height="25" style="font-size:25px;line-height:25px;padding:0">&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f9f8fa" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td align="center" valign="top" style="padding:0px 10px">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td height="25" style="font-size:25px;line-height:25px;padding:0">&nbsp;</td>
              </tr>
              </tbody>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td align="center" valign="top" style="padding:0">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0">
                    <tbody>
                    <tr>
                      <td height="10" style="font-size:10px;line-height:10px;padding:0">&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>

                  <p style="margin:0;color:#242128;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;line-height:1.3;margin:0!important;padding:0">
                   {{ title }}
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td height="15" style="font-size:15px;line-height:15px;padding:0">&nbsp;</td>
              </tr>
              </tbody>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td align="center" valign="top" style="padding:0 30px">
                  <p style="margin:0;color:#9c9b9d;font-family:Arial,sans-serif;font-size:14px;font-weight:normal;line-height:1.3;margin:0!important;padding:0;white-space:pre-wrap;text-align:left"></p>
                  <p>
                    <span style="margin:0;margin:0!important;padding:0;color:#a875ff">
                      {{ assignator }}
                    </span>
                    {{ message }}
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
              <tbody>
              <tr>
                <td height="30" style="font-size:30px;line-height:30px;padding:0">&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td height="30" style="font-size:30px;line-height:30px;padding:0">&nbsp;</td>
        </tr>
        </tbody>
      </table>
      <table height="48" cellpadding="0" cellspacing="0" border="0" bgcolor="#7b68ee" style="background-color:#7b68ee;border-radius:3px;border-spacing:0;color:#ffffff!important;font-family:Arial,sans-serif;height:48px;padding:0 15px">
        <tbody>
        <tr>
          <td align="center" valign="middle" height="48" style="color:#ffffff!important;padding:0">
            <a style="margin:0;color:#ffffff!important;display:inline-block;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:20px;font-weight:600;line-height:48px;margin:0!important;padding:0;text-decoration:none" target="_blank"
              href="{{ link }}" >
              {{ btn_text }}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;color:#242128;font-family:Arial,sans-serif">
        <tbody>
        <tr>
          <td height="30" style="font-size:30px;line-height:30px;padding:0">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
